.header {
  position: relative;
  overflow: hidden;
  &__logo {
  }

  &__menu {
  }
}
.logo {
  &__link {
    position: fixed;
    z-index: 100;
    right: auto;
    bottom: auto;
    z-index: 1000;
    font-size: 17px;
    left: 15px;
    top: 15px;
    width: 33vw;
    max-width: 150px;
    mix-blend-mode: exclusion;
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 28px;
      width: 19vw;
      left: 25px;
      top: 30px;
    }
    @media (min-width: 992px) {
      font-size: 40px;
      max-width: 210px;
      left: 35px;
      top: 40px;
      &:hover .logo__top div {
        & span:nth-child(1) {
          transition: 0.5s all;
          transform: translateY(0%);
        }
        & span:nth-child(2) {
          transition: 0.65s all;
          transform: translateY(0%);
        }
        & span:nth-child(3) {
          transition: 0.8s all;
          transform: translateY(0%);
        }
        & span:nth-child(4) {
          transition: 0.95s all;
          transform: translateY(0%);
        }
      }
      &:hover .logo__bottom div {
        & span:nth-child(1) {
          transition: 0.5s all;
          transform: translateY(0%);
        }
        & span:nth-child(2) {
          transition: 0.65s all;
          transform: translateY(0%);
        }
        & span:nth-child(3) {
          transition: 0.8s all;
          transform: translateY(0%);
        }
        & span:nth-child(4) {
          transition: 0.95s all;
          transform: translateY(0%);
        }
        & span:nth-child(5) {
          transition: 1.05s all;
          transform: translateY(0%);
        }
      }
    }
  }

  &__top {
    display: flex;
    overflow: hidden;
    & div {
      display: flex;
    }
    @media (min-width: 992px) {
      & div {
        display: flex;
        & span {
          display: block;
        }

        & span:nth-child(1) {
          transition: 0.95s all;
          transform: translateY(100%);
        }
        & span:nth-child(2) {
          transition: 0.8s all;
          transform: translateY(100%);
        }
        & span:nth-child(3) {
          transition: 0.65s all;
          transform: translateY(100%);
        }
        & span:nth-child(4) {
          transition: 0.5s all;
          transform: translateY(100%);
        }
      }
    }
  }

  &__title {
  }

  &__bottom {
    display: flex;
    overflow: hidden;
    margin-left: 20px;
    & div {
      display: flex;
    }
    @media (min-width: 768px) {
      margin-left: 40px;
    }
    @media (min-width: 992px) {
      & div {
        display: flex;
        & span {
          display: block;
        }

        & span:nth-child(1) {
          transition: 1.05s all;
          transform: translateY(100%);
        }
        & span:nth-child(2) {
          transition: 0.95s all;
          transform: translateY(100%);
        }
        & span:nth-child(3) {
          transition: 0.8s all;
          transform: translateY(100%);
        }
        & span:nth-child(4) {
          transition: 0.65s all;
          transform: translateY(100%);
        }
        & span:nth-child(5) {
          transition: 0.5s all;
          transform: translateY(100%);
        }
      }
    }
  }
}
.menu {
  &__btn {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 1000;
    overflow: hidden;
    font-size: 17px;

    max-width: 94.3px;
    margin-top: 15px;
    margin-right: 15px;
    max-width: 132px;

    padding: 0px;
    mix-blend-mode: exclusion;
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    overflow: hidden;
    @media (min-width: 768px) {
      max-width: 94.3px;
      margin-top: 30px;
      margin-right: 25px;
      font-size: 28px;
    }
    @media (min-width: 992px) {
      max-width: 125px;
      font-size: 40px;
      width: 11.28vw;
      margin-top: 40px;
      margin-right: 35px;
      &:hover .menu__text {
        & span:nth-child(1) {
          transition: 0.5s all;
          transform: translateY(0%);
        }
        & span:nth-child(2) {
          transition: 0.65s all;
          transform: translateY(0%);
        }
        & span:nth-child(3) {
          transition: 0.8s all;
          transform: translateY(0%);
        }
      }
    }
    & div {
      display: flex;
      & span {
        display: block;
      }
      @media (min-width: 992px) {
        & span:nth-child(1) {
          transition: 1.05s all;
          transform: translateY(100%);
        }
        & span:nth-child(2) {
          transition: 0.95s all;
          transform: translateY(100%);
        }
        & span:nth-child(3) {
          transition: 0.8s all;
          transform: translateY(100%);
        }
      }
    }
  }

  &__title {
  }

  &__text {
  }

  &__body {
    display: none;
    opacity: 0;
  }

  &__list {
  }

  &__item {
  }

  &__link {
  }
}
