.header {
  position: relative;
  overflow: hidden;
  &__logo {
  }

  &__menu {
  }
}
.logo {
  &__link {
    position: fixed;
    z-index: 100;
    right: auto;
    bottom: auto;
    z-index: 1000;
    font-size: 17px;
    left: 15px;
    top: 15px;
    width: 33vw;
    max-width: 150px;
    mix-blend-mode: exclusion;
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 28px;
      width: 19vw;
      left: 25px;
      top: 30px;
    }
    @media (min-width: 992px) {
      font-size: 40px;
      max-width: 210px;
      left: 35px;
      top: 40px;
      &:hover .logo__top div {
        & span:nth-child(1) {
          transition: 0.5s all;
          transform: translateY(0%);
        }
        & span:nth-child(2) {
          transition: 0.65s all;
          transform: translateY(0%);
        }
        & span:nth-child(3) {
          transition: 0.8s all;
          transform: translateY(0%);
        }
        & span:nth-child(4) {
          transition: 0.95s all;
          transform: translateY(0%);
        }
      }
      &:hover .logo__bottom div {
        & span:nth-child(1) {
          transition: 0.5s all;
          transform: translateY(0%);
        }
        & span:nth-child(2) {
          transition: 0.65s all;
          transform: translateY(0%);
        }
        & span:nth-child(3) {
          transition: 0.8s all;
          transform: translateY(0%);
        }
        & span:nth-child(4) {
          transition: 0.95s all;
          transform: translateY(0%);
        }
        & span:nth-child(5) {
          transition: 1.05s all;
          transform: translateY(0%);
        }
      }
    }
  }

  &__top {
    display: flex;
    overflow: hidden;
    & div {
      display: flex;
    }
    @media (min-width: 992px) {
      & div {
        display: flex;
        & span {
          display: block;
        }

        & span:nth-child(1) {
          transition: 0.95s all;
          transform: translateY(100%);
        }
        & span:nth-child(2) {
          transition: 0.8s all;
          transform: translateY(100%);
        }
        & span:nth-child(3) {
          transition: 0.65s all;
          transform: translateY(100%);
        }
        & span:nth-child(4) {
          transition: 0.5s all;
          transform: translateY(100%);
        }
      }
    }
  }

  &__title {
  }

  &__bottom {
    display: flex;
    overflow: hidden;
    margin-left: 20px;
    & div {
      display: flex;
    }
    @media (min-width: 768px) {
      margin-left: 40px;
    }
    @media (min-width: 992px) {
      & div {
        display: flex;
        & span {
          display: block;
        }

        & span:nth-child(1) {
          transition: 1.05s all;
          transform: translateY(100%);
        }
        & span:nth-child(2) {
          transition: 0.95s all;
          transform: translateY(100%);
        }
        & span:nth-child(3) {
          transition: 0.8s all;
          transform: translateY(100%);
        }
        & span:nth-child(4) {
          transition: 0.65s all;
          transform: translateY(100%);
        }
        & span:nth-child(5) {
          transition: 0.5s all;
          transform: translateY(100%);
        }
      }
    }
  }
}
.menu {
  &__btn {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 1000;
    overflow: hidden;
    font-size: 17px;
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 94.3px;
    margin-top: 15px;
    margin-right: 15px;
    max-width: 132px;

    padding: 0px;
    mix-blend-mode: exclusion;
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    overflow: hidden;
    @media (min-width: 768px) {
      max-width: 94.3px;
      margin-top: 30px;
      margin-right: 25px;
      font-size: 28px;
    }
    @media (min-width: 992px) {
      max-width: 125px;
      font-size: 40px;
      width: 11.28vw;
      margin-top: 40px;
      margin-right: 35px;
      &:hover .menu__text {
        & span:nth-child(1) {
          transition: 0.5s all;
          transform: translateY(0%);
        }
        & span:nth-child(2) {
          transition: 0.65s all;
          transform: translateY(0%);
        }
        & span:nth-child(3) {
          transition: 0.8s all;
          transform: translateY(0%);
        }
      }
    }
    & div {
      display: flex;
      & span {
        display: block;
      }
      @media (min-width: 992px) {
        & span:nth-child(1) {
          transition: 1.05s all;
          transform: translateY(100%);
        }
        & span:nth-child(2) {
          transition: 0.95s all;
          transform: translateY(100%);
        }
        & span:nth-child(3) {
          transition: 0.8s all;
          transform: translateY(100%);
        }
      }
    }
  }

  &__title {
  }

  &__text {
  }

  &__body {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    transition: 1s all;
    transform: translateY(-130%);
    background-color: var(--white);
    &::before {
      content: "";
      position: absolute;
      bottom: -200px;
      left: 0;
      width: 100vw;
      height: 200px;
      background: url(../../img/menu-bottom.svg) no-repeat;
    }
    &.menu--active {
      transform: translateY(0%);
    }
  }
  // menu--active
  &__list {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    // align-items: center;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    & .menu__item:nth-child(4) {
      min-width: 34%;
    }
    // & .menu__item:not(:last-child) {
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: -7.6vh;
    //     right: 100%;
    //     height: calc(100% + 7.6vh);
    //     width: 2px;
    //     background-color: var(--black);
    //   }
    // }
  }

  &__item {
    align-items: center;
    display: flex;
    flex: 0 0 15%;
    &:not(:last-child) {
      // padding-left: 8vw;
    }
    @media (max-width: 767px) {
      &:not(:last-child) {
        // left: 33%;
        // position: relative;
      }
    }

    @media (min-width: 768px) {
      flex: 0 0 22%;
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      &:not(:last-child) {
        padding-top: 7.6vh;
        // padding-left: 0vw;
      }
    }

    & span {
    }
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    perspective: 40em;
    // transform: rotate(-90deg);
    perspective-origin: 50% 50%;
    color: #000;
    font-size: 16vh;
    // line-height: 1em;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s all;
    @media (max-width: 767px) {
      font-size: 8vh;
    }

    @media (min-width: 992px) {
      &:hover .menu__link-opax0 {
        transition: 0.5s all;
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        opacity: 1;
      }
      &:hover .menu__link-opax1 {
        transition: 0.5s all;
        transform: translate3d(50%, 0%, 0px) scale3d(1, 1, 1) rotateX(30deg) rotateY(90deg) rotateZ(0deg)
          skew(0deg, 0deg);
        opacity: 0;
      }
    }
  }
  &__link-opax0 {
    font-family: var(--font-title);
    font-style: italic;
    letter-spacing: 8px;
    position: absolute;
    transition: 0.5s all;
    transform: translate3d(-50%, 0%, 0px) scale3d(1, 1, 1) rotateX(-30deg) rotateY(-90deg) rotateZ(0deg)
      skew(0deg, 0deg);
    opacity: 0;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }

  &__link-opax1 {
    position: absolute;
    transition: 0.5s all;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: 768px) {
      left: auto;
      transform: translateX(0%);
      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      opacity: 1;
    }
  }
}
.socials {
  justify-content: center;
  // width: 25%;
}
.menu-socials {
  // width: 100%;

  flex-direction: column;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
    flex-direction: row-reverse;
    margin-left: auto;
    padding-right: 30px;
  }
  @media (min-width: 992px) {
    padding-right: 70px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 300;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      margin-bottom: 0;
      transform: rotate(90deg);
      flex-direction: column-reverse;
    }

    & a {
      transition: 0.3s all;
      @media (min-width: 768px) {
        margin-left: 20px;
      }

      @media (min-width: 992px) {
        &:hover {
          color: var(--black);
        }
      }
    }
  }

  &__list {
    display: flex;

    gap: 20px;
    @media (min-width: 768px) {
      flex-direction: column;
    }
  }

  &__item {
  }

  &__link {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #e5e5e5;
    transition: 0.3s all;
    @media (min-width: 768px) {
      transform: rotate(180deg);
    }

    @media (min-width: 992px) {
      &:hover {
        transform: rotate(180deg) scale(1.2);
      }
    }

    & img {
      width: 36px;
      height: 36px;
    }
  }
}
//
//
#menulinkLine1,
#menulinkLine2,
#menulinkLine3 {
  width: 2px;
  position: absolute;
  height: calc(100% + 7.6vh);
  background-color: var(--black);
  right: 100%;
  top: -7.6vh;
  transform: translateY(100%);
}
#menulinkLine1 {
  transition: 2s all;
}
#menulinkLine2 {
  transition: 1.5s all;
}
#menulinkLine3 {
  transition: 1s all;
}
#menulinkLine1.menu--active {
  transition: 2.5s all;
  transform: translateY(0%);
}
#menulinkLine2.menu--active {
  transition: 2s all;
  transform: translateY(0%);
}
#menulinkLine3.menu--active {
  transition: 1.5s all;
  transform: translateY(0%);
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #303030;
  &::before {
    content: "";
    position: absolute;
    bottom: -200px;
    left: 0;
    width: 100vw;
    height: 200px;
    background: url(../../img/menu-bottom-black.svg) no-repeat;
  }
  &.load {
    animation: load 1s forwards;
  }
}

@keyframes load {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-130%);
  }
}
