<footer class="footer ">

  <div id="footerBubbl" class="footer__bubbl parallax">
    <div class="footer__bottom-bubbl"></div>
  </div>

  <div class="footer__body">
    <div class="footer__about about-footer">
      <div class="about-footer__body">
        <a class="about-footer__link" href="#">
          <div class="about-footer__top">
              <div class="about-footer__text">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
          </div>
          <div class="about-footer__bottom">
              <div class="about-footer__text-bottom">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text-bottom">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text-bottom">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text-bottom">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text-bottom">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text-bottom">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
              <div class="about-footer__text-bottom">about</div>
              <div class="about-footer__img">
                <img src="./../img/arrow-down.svg" alt="arrow">
              </div>
          </div>
        </a>
      </div>
    </div>
    <div class="footer__contacts contacts-footer">
      <div class="contacts-footer__logo">
        <div class="contacts-footer__text">branding</div>
        <div class="contacts-footer__end">&amp;</div>
        <div class="contacts-footer__text-bottom">digital experiences</div>
      </div>
      <div class="contacts-footer__bottom">
        <p>© <span id="footerDatе">2021</span> Jomor Design Inc. - All Rights Reserved</p>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>

</footer>
